body {
    background-image: url("https://wallpapercave.com/wp/wp2687606.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 162, 255);
    background-attachment: fixed;

}
    
.linki a{
    color: rgb(0, 162, 255);
}
footer{
    color:rgb(0, 153, 255) ;
    text-align: center;
   font-weight: bolder;
    
}
h2{
    text-align: center;
}


