body {
      background-image: url("https://wallpapercave.com/wp/wp2687606.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(238, 255, 0);
    background-attachment: fixed;
}
    
.linki a{
    color: rgb(229, 255, 0);
}

label {
    background-size: cover;
}

footer{
    color:rgb(238, 255, 0) ;
    text-align: center;
    
}

